*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
}



#mainhead{

    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#logofont{
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-size: larger;
    font-weight: 700;
}
#btn{
    background-color: transparent;
    border: none;
    color: rgb(255, 0, 0);
}

nav{
    display: none;
}
header{
    border-bottom: 1px solid darkgrey;
}
#inputsearch{
    display: none;
}
input{
display: none;
}
#searchicon{
  display: none;
}

section{
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   max-width: 1300px;
   
    
    
 
}
h1{
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 1rem;
   
}
p{
    color: rgb(99, 97, 97);
    max-width: 640px;
    padding-left: 1rem;

}
.button{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
  
    
    
    justify-content: center;
    height:40px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.buttonPrimary{
  
    background-color: black;
    color:white;
    padding:8px;
    
}
.buttonSecondary{

    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding:8px;
}

@media only screen and (min-width: 600px) {
    .buttons{
        flex-direction: row;
    }
   
  
    }
    
    @media only screen and (min-width: 768px) {
        #btn{
            display: none;
            }
            nav{
                display: block;
                list-style-type: none;
            }
            nav ul{
                display: flex;
                flex-direction: row;
                gap: 30px;
                list-style-type: none;
               
               
            }
            nav a{
                text-decoration: none;
                color:rgb(67, 66, 66);
                font-size: medium;
               
                
            }
            #inputsearch{
                display: flex;
                flex-direction: row;
              align-items: center;
              border: 2px solid black;
              padding: 3px;
              width:400px;
              border-radius: 5px;
            }
            input{
                display: block;
                width: 100%;
                border: none;
            }
            #searchicon{
                color:green;
            }

            
  
    }
    @media only screen and (min-width: 992px) {
   
  
    }
    @media only screen and (min-width: 1200px) {
   
  
    }